@charset "utf-8";

/***************************************************
* ヘッダー
***************************************************/
header {
	display: block;
	border-bottom: none;
}

header h1 {
	padding: 3px 6px;
	background: #47880f;
	color: #fff;
	font-size: 9px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
	padding-left: 10px;
}

header .headerInner {
	display: block;
	position: relative;
	height: 45px;
	background: #6fba2c;
}

header .headerInner .logo {
	display: block;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -19px;
	padding: 2px;
	border-radius: 4px;
}

header .headerInner .logo.ui-hover {
	background-color: #63a827;
}

header .headerInner .buttonArea {
	position: absolute;
	top: 50%;
	right: 6px;
	margin-top: -22px;
}

header .headerInner .buttonArea a {
	display: inline-block;
	width: 50px;
	height: 42px;
	cursor: pointer;
	text-indent: -9999px;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	margin-right: 5px;
}

header .headerInner .buttonArea a.favorite {
	margin-right: 0;
}

header .headerInner .buttonArea a:last-child {
	margin-right: 0;
}

header .headerInner .buttonArea a.ui-hover {
	background-color: #63a827;
}

header .headerInner .buttonArea a::before {
	content: "";
	display: block;
	position: absolute;
	width: 50px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	background-image: url(https://asset01.suumo.jp/sp/img/common/header/sprite/icon.png?id=20241127360bc0ad100);
	background-repeat: no-repeat;
	background-size: 50px 120px;
	-webkit-background-size: 50px 120px;
}

header .headerInner .buttonArea a.history::before {
	background-position: 0 0;
}

header .headerInner .buttonArea a.favorite::before {
	background-position: 0 -40px;
}

header .headerInner .buttonArea a.menu::before {
	background-position: 0 -80px;
}

/* お気に入りカウント */
header .headerInner .buttonArea a.favorite .count {
	position: absolute;
	right: 4px;
	top: 14px;
	text-indent: 0;
	display: inline-block;
	width: 20px;
	height: 14px;
	text-align: center;
	color: #333;
	z-index: 0;
	line-height: 1.4;
	font-size: 11px;
}

header .headerInner .buttonArea a.favorite .count::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 14px;
	border-radius: 10px;
	top: 50%;
	margin-top: -7px;
	z-index: -1;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #6db62d;
}

.section_h1 .section_h1-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
	padding: 11px 10px;
	line-height: 1.4;
	font-size: 14px;
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
	font-weight: bold;
	color: #333;
	background: #dbf5c4;
}

.section_h1 .section_h1-title::before {
	content: '';
	display: block;
	width: 3px;
	background-color: #61aa12;
	border-radius: 1px;
}

.section_h1 .section_h1-title .section_h1-title-inner {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: block;
	padding-left: 5px;
}

.section_h1.section_h1--object {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #fff;
	padding: 11px 10px;
}

.section_h1.section_h1--object .section_h1-title {
	padding: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	background-color: #fff;
}

.section_h1.section_h1--object .section_h1-object {
	margin-left: 10px;
}

.section_h1.section_h1--object .section_h1-text {
	line-height: 1.4;
	font-size: 14px;
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
	font-weight: bold;
	color: #333;
	background: #fff;
	padding: 0;
}

.section_h1.section_h1--object .section_h1-note {
	font-size: 12px;
	font-weight: normal;
}

/***************************************************
* フッター
***************************************************/
footer {
	display: block;
	background: #6ba439;
	color: #fff;
}

/* PC版表示 */
footer .pcViewWrap {
	padding: 10px 10px 0;
}

footer .pcViewWrap .pcViewButton {
	display: inline-block;
	width: 100%;
	position: relative;
	border: 1px solid #e9f6dc;
	border-radius: 6px;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	cursor: pointer;
	background: #e9f6dc;
	box-shadow: 0 4px 0 #a7d07e;
	color: #47880f;
}

footer .pcViewWrap .pcViewButton.ui-hover {
	background: #cee3bc;
	border: 1px solid #cee3bc;
}

footer .pcViewWrap p {
	padding-top: 14px;
	line-height: 1.4;
}

/* フッターリンク */
footer .footerLink {
	padding: 10px 10px 20px;
	background-repeat: no-repeat;
	background-size: 85px 70px;
	-webkit-background-size: 85px 70px;
	background-position: right bottom;
}

footer .ft01 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_01.png?id=20241127360bc0ad100);
}

footer .ft02 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_02.png?id=20241127360bc0ad100);
}

footer .ft03 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_03.png?id=20241127360bc0ad100);
}

footer .ft04 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_04.png?id=20241127360bc0ad100);
}

footer .ft05 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_05.png?id=20241127360bc0ad100);
}

footer .ft06 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_06.png?id=20241127360bc0ad100);
}

footer .ft07 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_07.png?id=20241127360bc0ad100);
}

footer .ft08 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_08.png?id=20241127360bc0ad100);
}

footer .ft09 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_09.png?id=20241127360bc0ad100);
}

footer .ft10 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_10.png?id=20241127360bc0ad100);
}

footer .ft11 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_11.png?id=20241127360bc0ad100);
}

footer .ft12 {
	background-image: url(https://asset01.suumo.jp/sp/img/common/footerImg/footer_12.png?id=20241127360bc0ad100);
}

footer .footerLink h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer .footerLink h3 span {
	display: block;
	height: 15px;
	border-left: 5px solid #fff;
	padding-left: 10px;
}

footer .footerLink div {
	padding-bottom: 10px;
}

footer .footerLink div:nth-child(4) {
	padding-bottom: 13px;
}

footer .footerLink div a {
	display: inline-block;
	color: #fff;
}

/* コピーライト */
footer .copyright {
	padding: 10px 10px 75px;
	background: #47880f;
}

footer .copyright a {
	display: block;
}

footer .copyright a {
	display: block;
	width: 219px;
	height: 28px;
	cursor: pointer;
	background-image: url(https://asset01.suumo.jp/sp/img/common/footer/recruit_white_logo.png?id=20241127360bc0ad100);
	background-repeat: no-repeat;
	background-size: 219px 28px;
	-webkit-background-size: 219px 28px;
	text-indent: -9999px;
	overflow: hidden;
}

/* 情報の見方リンク */
.johoMikata {
	display: block;
	padding-top: 10px;
	padding-bottom: 20px;
	background: #fff;
	padding-left: 10px;
	border-bottom: 1px solid #e6ede0;
}

.johoMikata a {
	background: url(https://asset01.suumo.jp/sp/img/common/footer/beginner.png?id=20241127360bc0ad100) left center no-repeat;
	-webkit-background-size: 12px 15px;
	padding: 10px 0 10px 18px;
	cursor: pointer;
	text-decoration: underline;
}

/***************************************************
* サイドメニュー
***************************************************/
.side-menu-ov {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 10000;
	display: none;
}

.side-menu-ov .side-menu-close-btn {
	position: absolute;
	right: 289px;
	top: 4px;
	display: block;
	width: 40px;
	height: 40px;
	background: no-repeat url(https://asset01.suumo.jp/sp/img/common/sidemenu/close.png?id=20241127360bc0ad100);
	background-size: 20px 20px;
	background-position: center center;
}

@media screen and (max-width: 375px) {
	.side-menu-ov .side-menu-close-btn {
		right: calc(76% + 4px);
	}
}

.side-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 76%;
	max-width: 285px;
	height: 100%;
	background: #fff;
	font-size: 15px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 99999;
	display: none;
}

/* サイドメニューを開く時 */
body.sideMenuShow {
	position: relative;
	height: 100%;
	overflow-y: hidden;
}

body.sideMenuShow #wrapper_viewport {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: hidden;
}

body.sideMenuShow .side-menu-ov {
	display: block;
}

body.sideMenuShow .side-menu {
	display: block;
	-webkit-animation: openSideMenu 0.2s;
	-moz-animation: openSideMenu 0.2s;
	animation: openSideMenu 0.2s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@-webkit-keyframes openSideMenu {
	0% {
		-webkit-transform: translateX(320px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes openSideMenu {
	0% {
		-moz-transform: translateX(320px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@keyframes openSideMenu {
	0% {
		transform: translateX(320px);
	}

	100% {
		transform: translateX(0);
	}
}

/* サイドメニューを閉じる時 */
body.sideMenuHide .side-menu-ov {
	display: block;
}

body.sideMenuHide .side-menu {
	display: block;
	-webkit-animation: closeSideMenu 0.2s;
	-moz-animation: closeSideMenu 0.2s;
	animation: closeSideMenu 0.2s;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@-webkit-keyframes closeSideMenu {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(320px);
	}
}

@-moz-keyframes closeSideMenu {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
		-moz-transform: translateX(320px);
	}
}

@keyframes closeSideMenu {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(320px);
	}
}

.side-menu li a,
.side-menu li a:visited {
	color: #333;
}

.side-menu .title {
	display: table;
	width: 100%;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	background: #d7ebf5;
	padding: 8px 16px;
	box-sizing: border-box;
}

.side-menu .button-list {
	display: flex;
	gap: 0 8px;
	padding: 9px 12px;
}

.button-list .button-list-item {
	width: 50%;
	max-width: 126px;
}

.side-menu .button-list .register-button {
	display: block;
	padding: 3px 0;
}

.side-menu .button-list .register-button .register-button-inner {
	padding: 12px 8px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 22px;
	background: #55a61b;
	text-align: center;
}

.side-menu .button-list .register-button.ui-hover .register-button-inner {
	background: linear-gradient(0deg, rgba(51, 51, 51, 0.1) 0%, rgba(51, 51, 51, 0.1) 100%), #55a61b;
}

.side-menu .button-list .loginBtn {
	display: block;
	padding: 3px 0;
	height: 100%;
	box-sizing: border-box;
}

.side-menu .button-list .loginBtn .loginBtn-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 8px;
	color: #2c8710;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #55a61b;
	border-radius: 22px;
	background: #fff;
	text-align: center;
	height: 100%;
	box-sizing: border-box;
}

.side-menu .button-list .loginBtn.ui-hover .loginBtn-inner {
	background: #ebebeb;
}

.side-menu li a span {
	display: block;
}

.side-menu li .sub-list li::after {
	content: "";
	display: block;
	position: absolute;
	background-color: #e7eaeb;
	width: calc(100% - 16px);
	height: 1px;
	right: 0;
}

.side-menu li .sub-list li:last-child::after {
	content: none;
}

.side-menu li .sub-list li:first-child .menu-item {
	margin-top: 0;
}

.side-menu li .sub-list a.ui-hover,
.side-menu li .app-dl a.ui-hover {
	background-color: #ebebeb;
}

.side-menu li .menu-item {
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 1px;
	padding: 12px 16px;
	box-sizing: border-box;
	font-weight: bold;
}

.side-menu li .menu-item .menu-icon {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.side-menu li .menu-item .icnMyFavorite::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/favorite-green.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 24px;
	flex-shrink: 0;
}

.side-menu li .menu-item .icnMyFavorite div {
	float: right;
	font-size: 14px;
	line-height: 100%;
	color: #3f535c;
	font-weight: normal;
	margin-left: auto;
	padding: unset;
	background-color: unset;
	border-radius: unset;
	height: unset;
}

.side-menu li .menu-item .icnMySaveCond::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/save-joken-green.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 24px;
	flex-shrink: 0;
}

.side-menu li .menu-item .icnMySaveCond div {
	float: right;
	font-size: 14px;
	line-height: 100%;
	color: #3f535c;
	font-weight: normal;
	margin-left: auto;
	padding: unset;
	background-color: unset;
	border-radius: unset;
	height: unset;
}

.side-menu li .menu-item .icnMyClock::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/rireki-green.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 24px;
	flex-shrink: 0;
}

.side-menu li .menu-item .icnMySch::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/joken-rireki-green.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 24px;
	flex-shrink: 0;
}

.side-menu li .menu-item .icnSimulation::before,
.side-menu li .menu-item .icnKounyuSimulation::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/simulation-green.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 24px;
	flex-shrink: 0;
}

.side-menu .icnKounyuSimulation {
	background: none;
}

.side-menu li .menu-item .icnDownload {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/suumo-app-icon.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 60px;
	top: 0;
	left: 0;
}

.side-menu li .menu-item .icnMyOut::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/logout-green.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 24px;
}

.side-menu li .menu-item .icnSuumoSp::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/present-green.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 24px;
}

.side-menu li .menu-item .menu-text {
	padding-left: 8px;
}

.app-dl-main-text {
	padding-top: 1px;
}

.app-dl-text {
	display: flex;
	align-items: center;
	gap: 0 2px;
	margin-top: 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	color: #2c8710;
}

.app-dl-text::before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background: url(https://asset01.suumo.jp/sp/img/common/sidemenu/download.png?id=20241127360bc0ad100) left center no-repeat;
	background-size: 18px;
	flex-shrink: 0;
}

.side-menu li .app-dl {
	border-top: solid 1px #e7eaeb;
	border-bottom: solid 1px #e7eaeb;
}

.side-menu li .app-dl .menu-item {
	padding: 16px;
	margin: 0;
}

.side-menu li .app-dl .menu-icon {
	display: block;
	position: relative;
	padding-left: 72px;
	line-height: 136%;
}

.side-menu div.sideBanner {
	text-align: center;
	padding: 15px;
	display: none;
}

/***************************************************
* システムメンテナンス
***************************************************/
.maintenance {
	margin: 0;
	padding: 10px;
	font-size: 11px;
	background: #fff;
}

.maintenance .acdTgls {
	border: 1px solid #dadada;
	border-radius: 4px;
}

.maintenance .acdHead a {
	display: table;
	vertical-align: middle;
	padding: 10px;
	width: 100%;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	box-sizing: border-box;
	border-top: none;
	border-bottom: none;
	background: #fff;
	border-radius: 4px;
	position: relative;
}

.maintenance .acdHead a > span {
	display: table-cell;
	vertical-align: middle;
	padding-left: 25px;
	padding-right: 15px;
}

.maintenance .txtMaintenance {
	padding: 10px;
	background: #fff;
	border-radius: 0 0 4px 4px;
	border-top: 1px dotted #ccc;
	line-height: 1.4;
}

.maintenance .icnInfo a::before {
	display: block;
	position: absolute;
	width: 18px;
	height: 18px;
	content: " ";
	background-image: url(https://asset01.suumo.jp/sp/img/common/maintenance/sprite/icon.png?id=20241127360bc0ad100);
	background-repeat: no-repeat;
	background-size: 18px 36px;
	-webkit-background-size: 18px 36px;
	background-position: 0 -18px;
	top: 50%;
	margin-top: -9px;
	left: 10px;
}

.maintenance .icnArrowD a::after {
	display: block;
	position: absolute;
	width: 13px;
	height: 9px;
	content: " ";
	background-image: url(https://asset01.suumo.jp/sp/img/common/maintenance/sprite/icon.png?id=20241127360bc0ad100);
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 18px 36px;
	-webkit-background-size: 18px 36px;
	background-position: 0 0;
	top: 50%;
	margin-top: -4px;
	right: 10px;
}

.maintenance .icnArrowU a::after {
	display: block;
	position: absolute;
	width: 13px;
	height: 9px;
	content: " ";
	background-image: url(https://asset01.suumo.jp/sp/img/common/maintenance/sprite/icon.png?id=20241127360bc0ad100);
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 18px 36px;
	-webkit-background-size: 18px 36px;
	background-position: 0 -9px;
	top: 50%;
	margin-top: -4px;
	right: 10px;
}

.acdTgl--layout:not(:first-child) {
	margin-top: 5px;
}

/***************************************************
* 「上部へ戻る」ボタン
***************************************************/
.l-pagetop {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	padding: 18px 10px;
	background: #fff;
}

.pagetop {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.pagetop-text {
	font-size: 14px;
	color: #666;
}

.pagetop::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 7px;
	background: url('https://asset01.suumo.jp/sp/img/common/footer/arrow_triangle_top_green.png?id=20241127360bc0ad100') no-repeat;
	background-size: 16px 16px;
	background-position: 0 0;
}

/***************************************************
* googleのリマーケティングタグの余白を回避
***************************************************/
iframe[name="google_conversion_frame"] {
	position: absolute;
	height: 0;
}

/***************************************************
* 読込中インジケータ
***************************************************/
span.loader {
	display: block;
	position: absolute;
	top: 100px;
	left: 50%;
	width: 40px;
	height: 40px;
	background-image: url(https://asset01.suumo.jp/sp/img/common/101.png?id=20241127360bc0ad100);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 40px 40px;
	margin-left: -20px;
	margin-top: -20px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(360deg);
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

.ovLoading {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.ovPanel {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 200px;
	height: 70px;
	margin-top: -35px;
	margin-left: -100px;
	background: #fff;
	-webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.ovPanel p {
	display: block;
	padding: 8px;
	text-align: center;
}

.ovPanel span.loader {
	position: static;
	margin: 2px auto 0;
	width: 30px;
	height: 30px;
	-webkit-background-size: 30px 30px;
}
